h1 {
    font-weight: 900;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}

.header__image{
    width: 48px;
}

.header__title {
    margin-left: 12px;
}
.noCharacterFound {
    color: white;
}
.pageNumber {
    color: white;
}
button {
    color: white;
    background-color: #3c3e44;
    font-family: Arial;
    width: 200px;

}